<!doctype html>
<html>
<head>
    <title>Add Student</title>
</head>
<body>
    <h1>Add Student</h1>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for msg in messages %}
        <li style="color:red">{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <form method="POST">
        First Name: <input type="text" name="first_name"><br>
        Last Name: <input type="text" name="last_name"><br>
        <input type="submit" value="Add Student">
    </form>
</body>
</html>

